@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    height: 80px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: rgb(201, 200, 197);
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: auto 0px; */
}

.navbar .logo{
    width: 20%;
    /* border: 1px solid red; */
    text-align: center;
    height: 100%;
}

.navbar .logo img{
    /* border: 1px solid red; */
    height: 100%;
    width: 70%;
}

.navbar .logo h3{
    color: rgb(201, 200, 197);
}

.navbar .nav-items{
    width: 60%;
    display: flex;
    /* border: 1px solid red; */
    text-align: center;
    justify-content: space-evenly;
    gap: 5px;
}

.navbar .nav-items a{
    text-decoration: none;
    color: rgb(201, 200, 197);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

.navbar .nav-items a:hover, .navbar .nav-items h3:hover{
    color: white;
}

.navbar .profile{
    /* border: 1px solid red; */
    width: 20%;
    text-align: center;
}